{% extends 'base.html.twig' %}

{% block title %}Verification code{% endblock %}

{% block body %}
    <form action="{{ path('reset_password') }}" method="post">
        <input type="hidden" name="id" value="{{ id }}">
        <div>
            <label>New password
                <input type="password" name="password" required>
            </label>
        </div>
        <div>
            <label>Confirm password
                <input type="password" name="c_password" required>
            </label>
        </div>
        <button type="submit">Reset password</button>
    </form>
{% endblock %}