{% extends 'base.html.twig' %}

{% block title %}New password{% endblock %}

{% block body %}
    <div class="vertical">
        <form action="{{ path('reset_password') }}" method="post">
            <input type="hidden" name="token" value="{{ token }}">
            <div class="form-group">
                <label>New password
                    <input type="password" name="password" class="form-control" required maxlength="255">
                </label>
            </div>
            <div class="form-group">
                <label>Confirm password
                    <input type="password" name="c_password" class="form-control" required maxlength="255">
                </label>
            </div>
            <button type="submit" class="btn btn-default">Reset</button>
        </form>
    </div>
{% endblock %}