{% extends 'base.html.twig' %}

{% block title %}Password reset{% endblock %}

{% block body %}
    <form action="{{ path('send_url') }}" method="post">
        <label>Write your email
            <input type="email" name="email" required>
        </label>
        <button type="submit">Send email</button>
    </form>
{% endblock %}