{% extends 'base.html.twig' %}

{% block title %}Success{% endblock %}

{% block body %}
    <p>Email was sent to {{ email }}</p>
    <p>Check your inbox and follow the instructions</p>
{% endblock %}