{% extends 'base.html.twig' %}

{% block title %}Success{% endblock %}

{% block body %}
    <div class="vertical">
        <p>Email was sent to {{ email }}</p>
        <p>Check your inbox and follow the instructions</p>
    </div>
{% endblock %}